body
{
  padding-top: 70px;

  background: #ffa84c; /* Old browsers */
  background: -moz-linear-gradient(left, #ffa84c 0%, #ff7b0d 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffa84c), color-stop(100%,#ff7b0d)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #ffa84c 0%,#ff7b0d 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #ffa84c 0%,#ff7b0d 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #ffa84c 0%,#ff7b0d 100%); /* IE10+ */
  background: linear-gradient(to right, #ffa84c 0%,#ff7b0d 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa84c', endColorstr='#ff7b0d',GradientType=1 ); /* IE6-9 */



}

footer
{
text-align: center;
}

h1
{
  font-family: sirin-stencil, sans-serif;
  //font-family: miama, cursive;
  font-size: small;
}
